@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url(/fonts/helvetica-bold.ttf) format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url(/fonts/helvetica.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url(/fonts/helvetica-light.ttf) format(truetype);
    font-weight: 200;
}

$primary: #3200FF;
$white: #FFFFFF;
$black:#000000;
$gray-100:#BAB5B5;
$gray-200:#EEEEEE;
$gray-300:#707070;
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Helvetica';
    &:focus {
        outline: 0;
    }
}

.icon-login {
    content: url(/img/login.svg);
}

.icon-favorites {
    content: url(/img/favorites.svg);
}

.icon-cart {
    content: url(/img/cart.svg);
}

.icon-search {
    content: url(/img/search.svg);
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-top {
        height: 85px;
        display: flex;
        align-items: center;
        .logo {
            width: 256px;
        }
        .search {
            position: relative;
            input {
                width: 619px;
                height: 32px;
                padding: 0 50px 0 9px;
                font-size: 16px;
                &::placeholder {
                    color: $gray-100;
                }
            }
            i {
                position: absolute;
                color: $white;
                top: 8px;
                right: 16px;
                height: 16px;
            }
        }
        .top-menu {
            ul {
                li {
                    a {
                        color: $white;
                        font-size: 14px;
                        &:not(:last-child) {
                            margin-right: 29px;
                        }
                        i {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        nav {
            height: 48px;
            display: flex;
            ul {
                display: flex;
                align-items: center;
                li {
                    a {
                        font-size: 16px;
                        color: $white;
                        align-items: center;
                    }
                    padding: 8px 0;
                    &:not(:last-child) {
                        margin-right: 64px;
                    }
                }
            }
        }
    }
}

.content {
    margin-top: 32px;
    min-height: 100vh;
    .container {
        .swiper-button-next,
        .swiper-button-prev {
            color: $primary;
        }
        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            content: url(/img/next.svg);
        }
        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: url(/img/prev.svg);
        }
        .banners {
            display: flex;
            flex-direction: row;
            .banners-left {
                display: flex;
                width: 940px;
                height: 236px;
            }
            .banners-right {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-left: 16px;
                .banner {
                    height: 110px;
                    width: 100%;
                }
            }
        }
        .products {
            margin: 32px 0 22px 0;
            h3 {
                font-size: 24px;
                font-weight: 700;
            }
            .swiper {
                width: 100%;
                height: 100%;
                margin-top: 36px;
                padding: 10px 12px;
                .swiper-slide {
                    font-size: 18px;
                    background: $white;
                    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .image-box {
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .text-box {
                        width: 100%;
                        padding: 20px 0 30px 16px;
                        h6 {
                            font-size: 16px;
                            font-weight: 700;
                        }
                        span {
                            font-size: 16px;
                        }
                        a {
                            color: $black;
                        }
                    }
                }
            }
        }
        .banner {
            img {
                display: block;
            }
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $black;
    padding: 40px 0px;
    margin-top: auto;
    img {
        display: block;
        margin-bottom: 16px;
        width: 256px;
    }
    span {
        font-size: 16px;
        color: $white;
    }
}

.breadcrumb {
    ul {
        display: flex;
        li {
            line-height: 14px;
            &+li::before {
                padding: 8px;
                color: $black;
                content: "/\00a0";
            }
            a {
                color: $black;
                font-size: 14px;
            }
            .active {
                color: $primary;
            }
        }
    }
}

.product-list {
    display: flex;
    margin-bottom: 32px;
    .sidebar {
        margin-top: 23px;
        margin-right: 32px;
        min-width: 386px;
        a {
            color: $primary;
            font-size: 16px;
        }
        .filter-list {
            background-color: $gray-200;
            padding: 24px 0 0 24px;
            margin-top: 22px;
            height: 100vh;
            h4 {
                font-size: 16px;
                font-weight: 700;
                &:not(:first-child) {
                    margin-top: 16px;
                }
            }
            ul {
                margin-top: 17px;
                li {
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin-top: 12px;
                    span {
                        font-size: 14px;
                        margin-left: 8px;
                    }
                    input[type=checkbox]::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        top: 0;
                        left: 0;
                        border: none;
                        border-radius: 3px;
                        background-color: $white;
                    }
                    input[type=checkbox]:checked:after {
                        content: "";
                        display: block;
                        width: 5px;
                        height: 10px;
                        border: solid $primary;
                        border-width: 0 1.33px 1.33px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        position: absolute;
                        top: 1.33px;
                        left: 5px;
                    }
                }
            }
        }
    }
    .product-list-content {
        margin-top: 23px;
        .product-list-content-items {
            display: flex;
            flex-wrap: wrap;
            .products-list-item {
                display: flex;
                flex-direction: column;
                width: 300px;
                background: $white;
                box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
                margin-top: 22px;
                &:not(:last-child) {
                    margin-right: 16px;
                }
                .image-box {
                    padding: 0 50px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text-box {
                    width: 100%;
                    padding: 20px 0 30px 16px;
                    h6 {
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 16px;
                    }
                    span {
                        font-size: 16px;
                    }
                    a {
                        color: $black;
                    }
                }
            }
        }
    }
}

.product-detail {
    display: flex;
    .image-detail {
        display: flex;
        flex-wrap: wrap;
        width: 870px;
        img {
            margin-top: 32px;
            &:nth-of-type(even) {
                margin-right: 32px;
            }
        }
    }
    .text-detail {
        margin: 32px 0 0 48px;
        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 24px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 16px;
        }
        span {
            color: $gray-100;
            font-size: 14px;
        }
        ul {
            margin-top: 24px;
            display: flex;
            li {
                &:not(:last-child) {
                    margin-right: 16px;
                }
                &:first-child {
                    a {
                        background: $gray-300;
                    }
                }
                &:nth-child(2) {
                    a {
                        background: $gray-100;
                    }
                }
                &:nth-child(3) {
                    a {
                        background: $gray-200;
                    }
                }
                &:nth-child(4) {
                    a {
                        background: $black;
                    }
                }
                .dots {
                    display: flex;
                    border-radius: 16px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .acordion-menu {
            margin-top: 24px;
            width: 400px;
            .accordion {
                color: $black;
                cursor: pointer;
                padding: 16px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 18px;
                transition: 0.4s;
                &::after {
                    content: url(/img/accordion-2.svg);
                    color: #777;
                    font-weight: bold;
                    float: right;
                    margin-left: 5px;
                }
            }
            .active:after {
                content: url(/img/accordion-1.svg);
            }
            .panel {
                padding: 0 18px;
                color: $gray-300;
                background-color: $gray-200;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }
        }
    }
}