@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url(/fonts/helvetica-bold.ttf) format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url(/fonts/helvetica.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url(/fonts/helvetica-light.ttf) format(truetype);
    font-weight: 200;
}

$primary: #3200FF;
$white: #FFFFFF;
$gray-100:#BAB5B5;
$black:#000000;
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Helvetica';
    &:focus {
        outline: 0;
    }
}

.icon-login {
    content: url(/img/login.svg);
}

.icon-favorites {
    content: url(/img/favorites.svg);
}

.icon-cart {
    content: url(/img/cart.svg);
}

.icon-search {
    content: url(/img/search.svg);
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-top {
        height: 85px;
        display: flex;
        align-items: center;
        .logo {
            width: 256px;
        }
        .search {
            position: relative;
            input {
                width: 619px;
                height: 32px;
                padding: 0 50px 0 9px;
                font-size: 16px;
                &::placeholder {
                    color: $gray-100;
                }
            }
            i {
                position: absolute;
                color: $white;
                top: 8px;
                right: 16px;
                height: 16px;
            }
        }
        .top-menu {
            ul {
                li {
                    a {
                        color: $white;
                        font-size: 14px;
                        &:not(:last-child) {
                            margin-right: 29px;
                        }
                        i {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        nav {
            height: 48px;
            display: flex;
            ul {
                display: flex;
                align-items: center;
                li {
                    a {
                        font-size: 16px;
                        color: $white;
                        align-items: center;
                    }
                    padding: 8px 0;
                    &:not(:last-child) {
                        margin-right: 64px;
                    }
                }
            }
        }
    }
}

.content {
    margin-top: 32px;
    .container {
        .swiper-button-next,
        .swiper-button-prev {
            color: $primary;
        }
        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            content: url(/img/next.svg);
        }
        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: url(/img/prev.svg);
        }
        .banners {
            display: flex;
            flex-direction: row;
            .banners-left {
                display: flex;
                width: 940px;
                height: 236px;
            }
            .banners-right {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-left: 16px;
                .banner {
                    height: 110px;
                    width: 100%;
                }
            }
        }
        .products {
            margin: 32px 0 22px 0;
            h3 {
                font-size: 24px;
                font-weight: 700;
            }
            .swiper {
                width: 100%;
                height: 100%;
                margin-top: 36px;
                padding: 10px 12px;
                .swiper-slide {
                    font-size: 18px;
                    background: $white;
                    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .image-box {
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .text-box {
                        width: 100%;
                        padding: 20px 0 30px 16px;
                        h6 {
                            font-size: 16px;
                            font-weight: 700;
                        }
                        span {
                            font-size: 16px;
                        }
                        a {
                            color: $black;
                        }
                    }
                }
            }
            // .swiper-button-prev {
            //     position: relative;
            //     top: -175px;
            //     margin-right: auto;
            // }
            // .swiper-button-next {
            //     position: relative;
            //     top: -155px;
            //     margin-left: auto;
            // }
        }
        .banner {
            img {
                display: block;
            }
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $black;
    padding: 40px 0px;
    img {
        display: block;
        margin-bottom: 16px;
        width: 256px;
    }
    span {
        font-size: 16px;
        color: $white;
    }
}