@font-face {
  font-family: 'Helvetica', sans-serif;
  src: url(/fonts/helvetica-bold.ttf) format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica', sans-serif;
  src: url(/fonts/helvetica.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica', sans-serif;
  src: url(/fonts/helvetica-light.ttf) format(truetype);
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica';
}

*:focus {
  outline: 0;
}

.icon-login {
  content: url(/img/login.svg);
}

.icon-favorites {
  content: url(/img/favorites.svg);
}

.icon-cart {
  content: url(/img/cart.svg);
}

.icon-search {
  content: url(/img/search.svg);
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header {
  background-color: #3200FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-top {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top .logo {
  width: 256px;
}

.header .header-top .search {
  position: relative;
}

.header .header-top .search input {
  width: 619px;
  height: 32px;
  padding: 0 50px 0 9px;
  font-size: 16px;
}

.header .header-top .search input::-webkit-input-placeholder {
  color: #BAB5B5;
}

.header .header-top .search input:-ms-input-placeholder {
  color: #BAB5B5;
}

.header .header-top .search input::-ms-input-placeholder {
  color: #BAB5B5;
}

.header .header-top .search input::placeholder {
  color: #BAB5B5;
}

.header .header-top .search i {
  position: absolute;
  color: #FFFFFF;
  top: 8px;
  right: 16px;
  height: 16px;
}

.header .header-top .top-menu ul li a {
  color: #FFFFFF;
  font-size: 14px;
}

.header .header-top .top-menu ul li a:not(:last-child) {
  margin-right: 29px;
}

.header .header-top .top-menu ul li a i {
  margin-right: 8px;
}

.header .header-bottom nav {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-bottom nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-bottom nav ul li {
  padding: 8px 0;
}

.header .header-bottom nav ul li a {
  font-size: 16px;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-bottom nav ul li:not(:last-child) {
  margin-right: 64px;
}

.content {
  margin-top: 32px;
  min-height: 100vh;
}

.content .container .swiper-button-next,
.content .container .swiper-button-prev {
  color: #3200FF;
}

.content .container .swiper-button-next:after,
.content .container .swiper-rtl .swiper-button-prev:after {
  content: url(/img/next.svg);
}

.content .container .swiper-button-prev:after,
.content .container .swiper-rtl .swiper-button-next:after {
  content: url(/img/prev.svg);
}

.content .container .banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .container .banners .banners-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  height: 236px;
}

.content .container .banners .banners-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-left: 16px;
}

.content .container .banners .banners-right .banner {
  height: 110px;
  width: 100%;
}

.content .container .products {
  margin: 32px 0 22px 0;
}

.content .container .products h3 {
  font-size: 24px;
  font-weight: 700;
}

.content .container .products .swiper {
  width: 100%;
  height: 100%;
  margin-top: 36px;
  padding: 10px 12px;
}

.content .container .products .swiper .swiper-slide {
  font-size: 18px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container .products .swiper .swiper-slide .image-box img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .container .products .swiper .swiper-slide .text-box {
  width: 100%;
  padding: 20px 0 30px 16px;
}

.content .container .products .swiper .swiper-slide .text-box h6 {
  font-size: 16px;
  font-weight: 700;
}

.content .container .products .swiper .swiper-slide .text-box span {
  font-size: 16px;
}

.content .container .products .swiper .swiper-slide .text-box a {
  color: #000000;
}

.content .container .banner img {
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  padding: 40px 0px;
  margin-top: auto;
}

.footer img {
  display: block;
  margin-bottom: 16px;
  width: 256px;
}

.footer span {
  font-size: 16px;
  color: #FFFFFF;
}

.breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb ul li {
  line-height: 14px;
}

.breadcrumb ul li + li::before {
  padding: 8px;
  color: #000000;
  content: "/\00a0";
}

.breadcrumb ul li a {
  color: #000000;
  font-size: 14px;
}

.breadcrumb ul li .active {
  color: #3200FF;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.product-list .sidebar {
  margin-top: 23px;
  margin-right: 32px;
  min-width: 386px;
}

.product-list .sidebar a {
  color: #3200FF;
  font-size: 16px;
}

.product-list .sidebar .filter-list {
  background-color: #EEEEEE;
  padding: 24px 0 0 24px;
  margin-top: 22px;
  height: 100vh;
}

.product-list .sidebar .filter-list h4 {
  font-size: 16px;
  font-weight: 700;
}

.product-list .sidebar .filter-list h4:not(:first-child) {
  margin-top: 16px;
}

.product-list .sidebar .filter-list ul {
  margin-top: 17px;
}

.product-list .sidebar .filter-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 12px;
}

.product-list .sidebar .filter-list ul li span {
  font-size: 14px;
  margin-left: 8px;
}

.product-list .sidebar .filter-list ul li input[type=checkbox]::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.product-list .sidebar .filter-list ul li input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #3200FF;
  border-width: 0 1.33px 1.33px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1.33px;
  left: 5px;
}

.product-list .product-list-content {
  margin-top: 23px;
}

.product-list .product-list-content .product-list-content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-list .product-list-content .product-list-content-items .products-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  margin-top: 22px;
}

.product-list .product-list-content .product-list-content-items .products-list-item:not(:last-child) {
  margin-right: 16px;
}

.product-list .product-list-content .product-list-content-items .products-list-item .image-box {
  padding: 0 50px;
}

.product-list .product-list-content .product-list-content-items .products-list-item .image-box img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-list .product-list-content .product-list-content-items .products-list-item .text-box {
  width: 100%;
  padding: 20px 0 30px 16px;
}

.product-list .product-list-content .product-list-content-items .products-list-item .text-box h6 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.product-list .product-list-content .product-list-content-items .products-list-item .text-box span {
  font-size: 16px;
}

.product-list .product-list-content .product-list-content-items .products-list-item .text-box a {
  color: #000000;
}

.product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail .image-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 870px;
}

.product-detail .image-detail img {
  margin-top: 32px;
}

.product-detail .image-detail img:nth-of-type(even) {
  margin-right: 32px;
}

.product-detail .text-detail {
  margin: 32px 0 0 48px;
}

.product-detail .text-detail h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.product-detail .text-detail h3 {
  font-size: 18px;
  margin-bottom: 16px;
}

.product-detail .text-detail span {
  color: #BAB5B5;
  font-size: 14px;
}

.product-detail .text-detail ul {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail .text-detail ul li:not(:last-child) {
  margin-right: 16px;
}

.product-detail .text-detail ul li:first-child a {
  background: #707070;
}

.product-detail .text-detail ul li:nth-child(2) a {
  background: #BAB5B5;
}

.product-detail .text-detail ul li:nth-child(3) a {
  background: #EEEEEE;
}

.product-detail .text-detail ul li:nth-child(4) a {
  background: #000000;
}

.product-detail .text-detail ul li .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 16px;
  width: 24px;
  height: 24px;
}

.product-detail .text-detail .acordion-menu {
  margin-top: 24px;
  width: 400px;
}

.product-detail .text-detail .acordion-menu .accordion {
  color: #000000;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product-detail .text-detail .acordion-menu .accordion::after {
  content: url(/img/accordion-2.svg);
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.product-detail .text-detail .acordion-menu .active:after {
  content: url(/img/accordion-1.svg);
}

.product-detail .text-detail .acordion-menu .panel {
  padding: 0 18px;
  color: #707070;
  background-color: #EEEEEE;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.product-detail .text-detail .acordion-menu .panel:not(:last-child) {
  margin-bottom: 24px;
}
/*# sourceMappingURL=main.css.map */